#new-comments-form-container{
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    border: 1px solid grey;
}

#new-comment-text>textarea{
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
    max-height: 200px;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 56, 56);
    padding-left: 10px;
    padding-top: 10px;
}

#new-comment-img-submit{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

#new-comment-img{
    flex-basis: 60%;
}

#new-comment-img-input{
    padding-bottom: 10px;
}

#new-comment-img-input>input{
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 25px;
    background-color: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
    padding-left: 10px;
}

#new-comment-graphic-preview>img{
    max-width: 200px;
    max-height: 200px;
}

#new-comment-submit-button>button{
    font-family: "Proxima Nova Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgb(41, 179, 126);
    color: white;
    box-shadow: 5px 5px 5px rgb(71, 71, 71);

    &[disabled] {
        background-color: gray;
        cursor: not-allowed;
    }
}
