#post-details-outer{
    background-image: url('https://aws-starter-bucket123.s3.amazonaws.com/imgur-background.png');
    background-repeat: repeat-x;
}

#post-details-outer>h3{
    padding-top: 20px;
    margin: 0;
}

#post-details-breadcrumb{
    width: fit-content;
    padding-top: 20px;
    padding-left: 5%;
    margin: 0;
}

#post-details-votes-container{
    width: 60px;
    position: sticky;
    top: 45%;
    left: 25%;
    height: auto;
    box-sizing: content-box;
}

#post-details-votes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 5%;
    padding: 20%;
    gap: 10px;
}

#post-details-votes>button{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

#post-details-votes>button>i{
    font-size: 24px;
}

#post-details-breadcrumb>h3{
    border: 2px solid rgb(118, 16, 165);
    background-color: rgb(118, 34, 156);
    border-radius: 10px;
    padding: 5px;
}

#post-details-breadcrumb>h3:hover{
    cursor: pointer;
}

#post-details{
    min-height: 80vh;
}

#post-details-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
}

#post-details-title-user{
    display: flex;
    flex-direction: column;
    align-items:start;
    width: 100%;
}

#post-detail-user{
    padding-bottom: 20px;
}

#post-detail-user>span{
    color: rgb(0, 150, 0);
}

#post-details-img{
    display: flex;
    justify-content: center;
}

#post-details-img>img{
    width: 100%;
}

#post-description-container{
    padding: 0px 30px;
}

#edit-delete-post-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

#edit-button-container>button{
    font-family: "Proxima Nova Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgb(41, 179, 126);
    color: white;
    box-shadow: 5px 5px 5px rgb(71, 71, 71);
}

#edit-button-container>button:hover{
    cursor: pointer;
    background-color: rgb(51, 214, 152);
}

#delete-button-container>button{
    font-family: "Proxima Nova Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgb(41, 179, 126);
    color: white;
    box-shadow: 5px 5px 5px rgb(71, 71, 71);
}

#delete-button-container>button:hover{
    cursor: pointer;
    background-color: rgb(51, 214, 152);
}


#post-comments-container{
    display: flex;
    flex-direction: column;
    width: auto;
}

#post-comments-whole-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: auto;
}

#post-comments-whole-container>div{
    width: 100%;
}

#post-num-comments{
    padding-top: 40px;
    width: 100%;
    font-weight: bold;
}

#comments-hr{
    width: 100%;
    color: rgb(116, 14, 14);
}

#explore-posts-text{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    font-size: 20px;
    font-weight: bold;
}

.upvoted > i{
    color: green;
}

.downvoted > i{
    color: rgb(255, 55, 55);
}

.faved > i{
    color: rgb(103, 17, 139);
}



@media screen and (max-width: 600px){
    #post-comments-whole-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin: auto;
    }
}
