#post-card-container{
    padding: 0px;
    margin: 0px;
    background-color: rgb(34, 34, 34);
    border-radius: 6px;
    margin-bottom: 10px;
    break-inside: avoid;
    transition: filter 0.3s ease;
}

#post-card-container:hover{
    filter: brightness(125%)
}

#post-card-image>img{
    width: 100%;
}

#post-card-info{
    padding: 5%;
    break-inside: avoid;
}

#post-card-title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 10px;
    word-wrap: break-word;
}

#post-card-votes-comments{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    overflow: hidden;
}

#post-card-votes-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#post-total-votes{
    font-size: 14px;
}

#post-card-votes-buttons>button{
    border: none;
    background-color: transparent;
    color: grey;
}

#post-card-votes-buttons>button{
    cursor: pointer;
}

#post-card-votes-buttons>button>i {
    width: 100%;
}

#post-card-votes-buttons>button>i:hover{
    cursor: pointer;
}

#post-card-total-comments{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    transition: filter 0.3s ease;
}

#post-card-total-comments:hover{
    filter: brightness(125%);
}

#post-card-votes-buttons{
    transition: filter 0.3s ease;
}

#post-card-votes-buttons:hover{
    filter: brightness(125%);
}

.upvoted > i{
    color: green;
}

.downvoted > i{
    color: rgb(255, 55, 55);
}
